/*✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞
never use opacity, using rgba instead


top: -1000px;
css is the language of God, only he is able to resolve these random css styling.


✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞✞*/
#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html,
body,
header {
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    font-style: normal;
    width: 100%;
    height: 100%;
    background-color: #080808;
}

main {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
