body,
header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    font-family: "Roboto", serif;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    background-color: #080808;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
